@model GoodChildren.Models.ChatView

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="chat__container ">
        <div class="chat__block d-flex justify-between">
            <div class="chat__header d-flex alighn-center">
                <div class="chat__header-userBlock d-flex justufy-between alighn-center">
                    <div class="chat__header-userIcon d-flex alighn-center">СЮ</div>
                    <div class="chat__header-userNmae">@Model.ReciverName</div>
                </div>
            </div>
            <div>
                <div class="chat__messages">
                    @if (ViewBag.Messanges != null)
                    {
                        for (int i = 0; i < ViewBag.Messanges.Count; i++)
                        {
                            <div class="chat__message d-flex">
                                <div class="chat__message-userIcon d-flex justufy-between alighn-center ">СЮ</div>
                                <div class="chat__message-block d-flex justify-between alighn-center">
                                    <div class="chat__message-val">
                                        @ViewBag.Messanges[i].ChatLine
                                        <div class="chat__message-time">@ViewBag.Messanges[i].LineTime</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="chat__sendBLock d-flex justify-between">
                    <div class="chat__sendfile"><img src="/img/vuesax-linear-paperclip-2.png" alt=""></div>
                    <textarea rows="1" placeholder="Напишите сообщение..." class="chat__message-value"></textarea>
                    <button class="chat__sendMessage"><img src="/img/vuesax-linear-send.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@@microsoft/signalr@3.1.0/dist/browser/signalr.min.js"></script>
    
</body>
</html>

<script charset="utf-8" type="text/javascript">
let chatId = @Model.chatId;
let SenderId = @Model.SenderId;
let SenderName = "@Model.SenderName";
let ReciverId = @Model.ReciverId;
let ReciverName = "@Model.ReciverName";


const hubConnection = new signalR.HubConnectionBuilder()
    .withUrl("/chat")
    .build();

    async function postServ(data, url) {
        fetch(url, {
            method: "POST",
            body: data
        })
    }

    hubConnection.on("Receive", function (messa, chatId, reciverId, LineTime, userName) {
        console.log(userName, ReciverName )
        if (userName == ReciverName) {
            addComment(messa, userName, LineTime, document.querySelector(".chat__messages"))
            console.log(SenderId, chatId)
            let LookMeseng = new FormData;
            LookMeseng.append("UserId", SenderId);
            LookMeseng.append("ChatId", chatId);
            LookMeseng.append("State", false);
            postServ(LookMeseng, "/Home/LookMesseng")
            console.log(data)
        }

});

    document.querySelector(".chat__sendingBlock-send").addEventListener("click", function (e) {
    let message = document.querySelector(".chat__sendingBlock-message").value;
        let to = ReciverName;
        let messa = {
            Id:0,
            ChatId: @Model.chatId,
            SenderId: @Model.SenderId,
            ReciverId: @Model.ReciverId,
            ChatLine: message,
            LineTime: new Date() //`${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`
        }
    let date = new Date()
        let datevalue = { date: `${date.getDate()}.${(date.getMonth() + 1 < 10) ? `0${date.getMonth() + 1}` : date.getMonth() + 1}`, time: `${new Date(01, 11, 2020, date.getUTCHours() + 3).getHours()}:${(date.getUTCMinutes() + 1 < 10) ? `0${date.getUTCMinutes() + 1}` : date.getUTCMinutes() + 1}` }
        addComment(message, SenderName, messa.LineTime, document.querySelector(".chat__messages"))
    date.setHours(date.getUTCHours() + 3)

    const data = new FormData();
    data.append("ChatId", chatId);
    data.append("SenderId", SenderId);
    data.append("ReciverId", ReciverId);
    data.append("ChatLine", message);
    data.append("LineTime", `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`);
        postServ(data, "/Home/message")
        console.log(messa)
        hubConnection.invoke("Send", messa.ChatLine, messa.ChatId, messa.ReciverId, messa.LineTime, to);

        console.log(`${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`);
});

    let addComment = (message, username, time, comments) => {
        let commentElem = document.createElement("div")
        commentElem.classList.add("chat__message");
        commentElem.innerHTML = `
            <div class="chat__message-userIcon d-flex justufy-between alighn-center ">СЮ</div>
            <div class="chat__message-block d-flex justify-between alighn-center">
                <div class="chat__message-val"> ${message}
                    <div class="chat__message-time">${time}</div>
                </div>
            </div>
        `

        /*let commentElem = document.createElement("div")
        commentElem.classList.add("commentsListElem");
        let comment = document.createElement("div");
        comment.classList.add("commentsListTitle");
        let author = document.createElement("p");
        author.classList.add("commentName");
        author.innerText = username;
        comment.appendChild(author)
        author = document.createElement("p");
        author.innerText = time
        comment.appendChild(author);
        commentElem.appendChild(comment);
        comment = document.createElement("p")
        comment.innerText = message;
        comment.classList.add("commentsText");
        commentElem.appendChild(comment);*/
        comments.appendChild(commentElem);
    }

    const isValid = (str) =>{
    return !/[~`#$\^&\[\]\\';/{}|\\<>]/g.test(str);
}
    hubConnection.start();
</script>